.App {
  text-align: center;
}

.App-header {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  color: #282c34;
}

.App-link {
  color: #61dafb;
}

.lists {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
}

.assets, .whitelist {
  width: 50%;
}
