.header {
  padding: 30px 15px;
  display: flex;
  background: #000000;
  color: #ffffff;
}

.network-info {
  flex-grow: 1;
}

h2 {
  font-size: 200%;
  padding: 15px;
}

h3 {
  font-size: 150%;
}

.list-content {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
}

.assets, .whitelist {
  /* width: 50%; */
  box-sizing: border-box;
}

.assets {
  flex-grow: 1;
  border-right: 1px solid #cfcfcf
}

.input-token {
  min-width: 360px;
  width: 100%;
  max-width: 400px;
  background: transparent;
  font-size: 100%;
  border: 0;
  border-bottom: 2px solid #d3d3d3;
  outline: none!important;
  padding: 2px 0;
}

.token-list {
  background: #f7f7f7;
}

.token-list li {
  display: flex;
  /* margin-bottom:10px; */
  padding: 15px;
  border-bottom: 1px solid #cfcfcf;
}

.token-content {
  flex-grow: 1;
}

.token-address {
  padding-bottom: 10px;
  color: #8d8d8d;
}

.token-balance {
  font-size: 130%;
}

.token-send-button {

}

.whitelist-list {
  background: #f7f7f7;
}

.whitelist-list li {
  display: flex;
  /* margin-bottom:10px; */
  padding: 15px;
  border-bottom: 1px solid #cfcfcf;
}

.whitelist-content {
  flex-grow: 1;
  display: flex;
}

.whitelist-address {
  font-size: 128%;
}

.whitelist-color-output, .address-color-output {
  width: 27px;
  height: 27px;
  border-radius: 100%;
}

.input-whitelist {
  min-width: 500px;
  width: 100%;
  max-width: 90%;
  background: transparent;
  font-size: 128%;
  border: 0;
  border-bottom: 2px solid #d3d3d3;
  outline: none!important;
  padding: 2px 0;
}

.whitelist-color {
  margin-left: 15px;
}

.no-metamask {
  text-align: center;
  min-height: 500px;
  display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
  background: #000000bf;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-send {
  background: #ffffff;
  padding: 30px;
  border-radius: 5px;
}

.input-send-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.address-color-output, .address-token-currency {
  margin-left: 15px;
}

.modal-content {
  padding: 15px 0 0 0;
}

.modal-text {
  margin-bottom: 15px;
}
.modal-content input {
  width: 100%;
    border: 0;
    padding: 15px 0;
    border-bottom: 2px solid #ddd;
    font-size: 109%;
    background: transparent;
    outline: none !important;
}

.modal-button-group {
  margin-top: 30px;
  justify-content: flex-end;
  flex-wrap: wrap;
  display: flex;
}

.modal-button-group button {
  margin: 0 10px;
  padding: 10px 15px;
}

input[type="text"]:focus {
  border-color: blue;
}

.list-content button {
  display: block;
  margin-left: 15px;
}

.footer-ul {
  padding: 0 15px;
}

button {
  border: 0;
  background: #347ed9;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  padding: 5px 10px;
}

b {
  font-weight: bold;
}

.list-content h2 {
  border-bottom: 1px solid #cfcfcf;
}

.notifications {
  position: fixed;
  bottom: 0;
  left: 0;
}

.notifications li {
  display: table;
  background: #000;
  color: #fff;
  padding: 15px 30px;
  margin: 10px;
  border-radius: 5px;
}

.notifications .item--red {
  background: #e12525;
}

.notice {
  color: #fff;
  text-align: center;
  background: #cf3d3d;
  padding: 12px;
  font-size: 90%;
}

.footer-ul li {
  list-style: disc;
  margin: 10px 30px;
}

.button--red {
  background: #d93434;
}

.button--green {
  background: #2eb74b;
}

.select-whitelist-address {
  border: 0;
  padding: 15px 0;
  border-bottom: 2px solid #ddd;
  font-size: 109%;
  background: transparent;
  outline: none !important;
}